@color-theme: #fa2800;
@color-dark: #ffffff;
@color-font-size-White: #fff;




// 字体颜色
@color-blank: #000;

//header背景颜色
@header-background-color: #242424;
// 播放器背景颜色
@play-background-color: #242424;


// footer底部颜色
@footer-background-color: #F2F2F2;
// 底部footer的上边框线
@footer-border-top: #242424;

// 歌词背景颜色
@lyric-background: #b6b3b3;

// 歌词滚动背景
@lyric-background-color: #dbdbdb;
