@color-theme: #fa2800;
@color-dark: #ffffff;
@color-font-size-White: #fff;

@color-lyric-color: rgba(241, 241, 241, 0.582);



// 字体颜色
@color-blank: #000;

// 中间背景颜色
@content-background: #F5F5F5;

//header背景颜色
@header-background-color: #242424;
// 播放器背景颜色
@play-background-color: #242424;


// footer底部颜色
@footer-background-color: #F2F2F2;
// 底部footer的上边框线
@footer-border-top: #242424;

// 歌词背景颜色
@lyric-background: #40436D;

// 歌词滚动背景
@lyric-background-color: #dbdbdb;

// 蓝色
@blue: blue;

// 浅蓝色
@light-blue: #409EFF;

// 标签背景
@tag-background: #F5F5F5;

// 全局背景
@particles-background: #2d3a4b;