@color-theme: #fa2800;
@color-dark: #ffffff;
@color-font-size-White: #fff;

// footer底部颜色
@footer-background-color: #F2F2F2;

// 字体颜色
@color-blank: #000;

//header背景颜色
@header-background-color: #242424;